body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
}

.Rtable {
  display: flex;
  flex-direction: row;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  /* display: flex; */
  flex-grow: 1;
  width: 100%;
  /* padding: 0.8em 1.2em; */
  overflow: hidden;
  list-style: none;
  text-align: center;
  /* > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; } */
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e10b7e;
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  color: white;
}

.links a {
  color: white;
  margin-right: 30px;
  margin-top: 160px;
}
#logo {
  margin: 20px;
  font-family: 'Yellowtail', cursive;
  color: white;
  font-size: 120px;
}

.navLinks {
  display: flex;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  justify-content: space-around;
}

.navLinks a {
  color: white;
}

.loginSignUp {
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}

.allProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#allProdImg {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.prodCard {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 260px;
  height: 300px;
  margin: 20px;
  background-color: lightgray;
  align-items: center;
}

.prodInfo {
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
  color: darkolivegreen;
}

#prodDetails {
  margin-left: 20px;
}

#prodDetails h2 {
  color: darkolivegreen;
}

h1 {
  align-self: flex-start;
  margin-left: 20px;
  color: darkolivegreen;
}

.cartHeaders {
  display: flex;
  justify-content: space-between;
}

#qty {
  width: 30px;
}
#rmvBtn {
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-left: 8px;
}

#checkoutBtn {
  align-self: flex-end;
  margin-right: 70px;
  border-radius: 5px;
  background-color: grey;
  width: 200px;
  align-content: center;
}
#checkoutBtnBtm h1 {
  text-align: center;
  margin-right: 70px;
  border-radius: 5px;
  background-color: grey;
  color: white;
  width: 200px;
  align-content: center;
}

#cartBottom {
  justify-content: flex-end;
}

#checkoutBtn h1 {
  color: white;
}

#totalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cols {
  display: flex;
  align-content: center;
}

.orderSummary {
  display: flex;
  height: 100%;
  min-height: 500px;
  min-width: 300px;
  flex-direction: column;
  background-color: lightgray;
  align-content: stretch;
}

.checkoutBody {
  display: flex;
  align-items: flex-start;
}

.checkoutForm {
  margin-left: 20px;
}

.orderDetails {
  margin-left: 20px;
}

input {
  height: 18px;
  font-size: 16px;
}

.longForm {
  width: 250px;
}

#checkoutBtn {
  font-size: 18px;
  color: white;
  background-color: #e10b7e;
}
